/*
 * Kaotisk Hund 2019
 * Βασικά στοιχεία CSS για τον ιστότοπο.
 *
 */

/* Στοίχηση κειμένου στο κέντρο */
.App {
  text-align: center;
}

/* Λεπτομέριες προβολής λογότυπου σταθμού */
.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /*background-image: url("assets/img/floor.svg");*/
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: cover;
  padding: 20px;
  padding-top: 20%;
}

/* Αφαίρεση στυλ κειμένου στους υπερσυνδέσμους */
.App-link {
  text-decoration: none;
  color: #7fff84f0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: white;
}

a:visited {
  color: white;
}

iframe {
  width: 80%;
  height: 540px;
}