.ShowList audio {
	max-width: 250px;
}

.ShowList {
	text-align: left;
	background-color: #6f2424;
	padding: 5px;
	margin: 15px;
	height: 50%;
	overflow-y: scroll;
/*	display: none;*/
}

.ShowList td {
	vertical-align: middle;
}

.ShowListContainer {
/*	position: absolute;*/
	height: 50%;
	z-index: 50;
	


}

.ShowListContainer h3 {
/*	position: fixed;
	top: 2px;
	float: right;*/
}
