.ShowList audio {
	max-width: 100%;
	width: 100%;
}

.ShowList {
	text-align: center;
	background-color: #6f2424;
	padding: 5px;
	margin: 15px;
	color: white;
/*	height: 50%;
	overflow-y: scroll;
	display: none;*/
}

.ShowList div {
	vertical-align: middle;
}

.ShowListContainer {
/*	position: absolute;*/
/*	height: 50%;
*/	z-index: 50;
	


}

.ShowListContainer h3 {
/*	position: fixed;
	top: 2px;
	float: right;*/
	color: white;
}


.list-info {

}

.player-container {

}

.list-item {
	padding: 5px;
	background: #dfa9504d;
	margin: 20px;
	border-radius: 6px;
	/*background-image: url('assets/img/flame.png');*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.list-info {
	background-color: none;
	font-size: 20pt;
	padding: 20px;
	text-align: left;
}

#mixes {
	background-color: #6f2424;
	padding: 20px;
	padding-top: 25%;
	padding-bottom: 10%;
}