.ShowList audio {
	max-width: 100%;
	width: 100%;
}

.ShowList {
	text-align: center;
	background-color: #6f2424;
	padding: 5px;
	margin: 15px;
	height: 50%;
	overflow-y: scroll;
/*	display: none;*/
}

.ShowList td {
	vertical-align: middle;
}

.ShowListContainer {
/*	position: absolute;*/
	height: 50%;
	z-index: 50;
	


}

.ShowListContainer h3 {
/*	position: fixed;
	top: 2px;
	float: right;*/
}


.list-info {

}

.player-container {

}

.list-item {
	padding: 5px;
	background: #dfa9504d;
	margin: 20px;
	border-radius: 6px;
}